* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #112;
  overflow: hidden;
  font-family: monospace;
  --dark-square: #444;
  --light-square: #aaa;

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}

html {
  height: 100%;
}

#sidebar {
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 800px) {
  #sidebar {
    width: 200px;
  }
}

#modes {
  display: flex;
  overflow: hidden;
  border-radius: 8px;
}

#modes > button {
  font-size: 20px;
  border: none;
  padding: 8px;
  background: #ccc;
  font-family: inherit;
  flex: 1;
}

#modes > button.selected {
  background: #aaa;
  box-shadow: inset 2px 2px 12px #333a;
}

#status-text,
#move {
  padding: 10px;
  background: #666;
  border-radius: 8px;
  color: #222;
}

#calculations {
  font-size: 12px;
  color: #fff;
}

#board-outer {
  padding: 10px;
  background: #666;
  border-radius: 8px;
}

#board {
  position: relative;
  overflow: hidden;
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  background: var(--dark-square);
  position: relative;
}

.cell:nth-child(even) {
  background: var(--light-square);
}

.row:nth-child(odd) .cell {
  background: var(--light-square);
}

.row:nth-child(odd) .cell:nth-child(even) {
  background: var(--dark-square);
}

.cell.selected {
  background: #cb6 !important;
}

.cell.last-move-from::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #8f84;
}

.cell.last-move-to::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #9d94;
}

.cell.valid-move {
  filter: sepia(0.5) brightness(1.1);
}

.cell.valid-move::after {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 35%;
  background: #888;
  border-radius: 50%;
}

.cell.check {
  background: #f00d !important;
}

#pieces {
  position: absolute;
  inset: 0;
}

#click-layer {
  position: absolute;
  inset: 0;
}

.piece {
  position: absolute;
  width: 50px;
  height: 50px;
  filter: drop-shadow(1px 1px 2px #0007);
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece svg {
  width: 100% !important;
  height: 100% !important;
}

.piece.white {
  color: #eee;
}

.piece.black {
  color: #111;
}
